#=========================================
# 무시
#=========================================
# 폴더
InitResources/
resources/
.RDataFiles/
.idea/
fig_files/
testSys/
# 특정 파일
.Rproj.user
.Rhistory
.RData*
info_parallel.log
fig.html
# 하위 파일 전체
*.cfg
*.ttf
*.txt
*.dat
*.Rproj
*.py
*.o
*.exe
.RData*
*.html
*.png
*.csv
*.txt
*.pdf
*.ini

#=========================================
# 캐시 지우기
#=========================================
# 특정 파일
# git rm --cached test.txt
# 하위 전체 파일
# git rm --cached .RData*
# 폴더
# git rm --cached .idea/ -r
testSys.zip
fort.6
