/.RData
/.RDataFiles/
/.RDataTmp
/.RDataTmp1
/.RDataTmp2
/.Rhistory
/.Rproj.user/
/a.exe
/InitResources/
/input-dimD.dat
/README.md
/resources/
/resources/bak/
/resources/config/
/resources/fig/
/resources/input/
/resources/log/
/resources/output/
/result.dat
/result-dimD.dat
/result-dimR.dat
/TalentPlatform-R.Rproj
/TestDll.o
/.idea
/src/fortran/
/src/markDown/
